beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
constants==0.6.0
feedparser==6.0.2
idna==2.10
joblib==1.0.1
lib==3.0.0
lxml==4.6.3
nltk==3.6.2
pymystem3==0.2.0
regex==2021.4.4
requests==2.25.1
schedule==1.1.0
selenium==3.141.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1
tqdm==4.60.0
urllib3==1.26.4
vk-api==11.9.1
